{{!-- // taken from 14-MVC/28-Stu_Mini-Project/views/login.handlebars --}}

{{!-- // taken from 14-MVC/28-Stu_Mini-Project/views/login.handlebars --}}

{{!-- need to display all posts from user, when click on new post, change to new page to do post --}}

{{#each posts as |post| }}
<div class="box">
  <div class="head">
    <h4>
      <p>{{post.title}}</p>
    </h2>
    <p>Posted by {{post.user.name}} on {{format_date post.date_created}}</p>
  </div>
  <div class="content">
      <p>
      {{post.content}}
    </p>
  </div>
</div>
{{/each}}

{{#each comments as |comment|}}
<div class="box">
  <div class="head">
    <h4>
      <p>{{comment.content}}</p>
    </h2>
    <p>Posted by {{comment.user.name}} on {{format_date comment.date_created}}</p>
  </div>
  <div class="content">
      <p>
      {{comment.content}}
    </p>
  </div>
</div>
{{/each}}

<div class="box">
  <div class="col-md-6">
    <h2>Create a comment</h2>

    <form class="form post-form">
      <div class="form-group">
        <label>Content:</label>
        <input class="form-input" type="text" id="post-content"/>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>

<script src="../js/comment.js"></script>
