{{!-- // taken from 14-MVC/28-Stu_Mini-Project/views/login.handlebars --}}

{{!-- // taken from 14-MVC/28-Stu_Mini-Project/views/login.handlebars --}}

{{!-- need to display all posts from user, when click on new post, change to new page to do post --}}

<div class="box">
  <div class="head">
    <h4>
      <p>{{post.title}}</p>
    </h4>
    <p>Posted by {{post.user.name}} on {{format_date post.date_created}}</p>
  </div>
  <div class="content">
      <p>
      {{post.content}}
    </p>
  </div>
</div>


{{#each post.comments as |comment|}}
<div class="box">
  <div class="head">
  </div>
  <div class="content">
    <p> {{comment.comment_content}} </p>
    <p> User:{{comment.user_id}} --{{comment.comment_name}} on {{format_date comment.date_created}}</p>
  </div>
</div>
{{/each}}

<div class="box">
  <div>
    <div class="head">
      <h2>Create a comment</h2>
    </div>

    <form class="form post-form" data-id="{{post.id}}">
      <div class="form-group">
        <label>Content:</label>
        <textarea class="form-input" type="text" id="post-content"></textarea>
      </div>
      <div class="form-group">
        <button class="btn" style="font-weight: bold; background-color: skyblue;" type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>

<script src="../js/comment.js"></script>